/**/
/* DEFAULT */
/**/

ul.products {
    margin-right: -15px;
    margin-left: -15px;
}

ul.products li.product {
    padding-right: 15px;
    padding-left: 15px;
}

.woo_product_post_thumbnail.post_single_post_thumbnail {
    float: right;
}

/**/
/* \DEFAULT */
/**/
/**/
/* COMMON */
/**/
.woocommerce .col2-set {
    margin-right: -15px;
    margin-left: -15px;
}

.woocommerce .col2-set [class^="col-"] {
    float: right;
    padding-right: 15px;
    padding-left: 15px;
}

/**/
/* \COMMON */
/**/

/**/
/* BUTTONS */
/**/
.woocommerce .button {
    margin-left: 20px;
    margin-right: auto;
}

/**/
/* \BUTTONS */
/**/
/**/
/* BANNER */
/**/

.woo_banner_wrapper {
    right: 20px;
    left: auto;
}

.woo_banner {
    float: left;
    right: -7px;
    left: auto;
}

/**/
/* \BANNER */
/**/
/**/
/* ARCHIVE */
/**/

.woo_panel > * + * {
    padding-right: 10px;
    padding-left: 0;
}

/**/
/* star rating */
/**/

.star-rating > span,
.comment-form-rating .stars .stars-active {
    right: 0;
    left: auto;
}

.star-rating>span:before,
.comment-form-rating .stars .stars-active {
    right: 0;
    left: auto;
}

/**/
/* \star rating */
/**/
/**/
/* price */
/**/

.woocommerce .price > del + ins {
    margin-right: 5px;
    margin-left: auto;
}

/**/
/* \price */
/**/
/**/
/* add to cart */
/**/

.prospect_after_shop_loop_item_title_wrapper .star-rating:not(:only-child) {
    float: right;
}

.prospect_after_shop_loop_item_title_wrapper .price {
    float: left;
}

.added_to_cart {
    margin-left: 20px;
    margin-right: auto;
}

.ajax_add_to_cart {
    margin-left: 30px;
    margin-right: auto;
}

.ajax_add_to_cart.added {
    margin-left: auto;
    margin-right: auto;
}

.added_to_cart,
.add_to_cart_button.product_type_variable {
    margin-left: 30px;
    margin-right: auto;
}

.products:not(.list) {
    right: 0;
    left: auto;
}

.products:not(.list) .add_to_cart_button {
    right: 0;
    left: auto;
}

.products:not(.list) .added_to_cart {
    right: -14px;
    left: auto;
}

.products:not(.list) .added_to_cart.wc-forward {
    right: 20px;
    left: auto;
}

.products:not(.list) li.product:hover .add_to_cart_button {
    right: 20px;
    left: auto;
}

/**/
/* add to cart */
/**/
/**/
/* product categories */
/**/

/**/
/* \product categories */
/**/
/**/
/* \ARCHIVE */
/**/
/**/
/* SINGLE */
/**/
.woo_product_post_media.post_single_post_media {
    margin-left: -30px;
    margin-right: auto;
}

.woo_product_post_media.post_single_post_media > .post_media_wrapper {
    float: right;
    margin-left: 30px;
    margin-right: auto;
}

.cws_woo_single_product_thumbnails .carousel_nav.prev {
    right: 1px;
    left: auto;
}

.cws_woo_single_product_thumbnails .carousel_nav.next {
    left: 1px;
    right: auto;
}

.product .summary .woocommerce-product-rating .star-rating {
    float: left;
}

.product .summary .price del {
    margin-right: 15px;
    margin-left: auto;
}

.product .summary form.cart .quantity {
    float: right;
}

.product .summary form.cart .quantity ~ .single_add_to_cart_button {
    margin-right: 10px;
    margin-left: auto;
}

.wc-tabs > li {
    float: right;
}

div.product #comments .commentlist .avatar {
    float: right;
    margin-left: 10px;
    margin-right: auto;
}

div.product #comments .commentlist .star-rating {
    float: left;
}

div.product #comments .commentlist {
    margin-right: auto;
    margin-left: auto;
}

.woocommerce .reset_variations {
    margin-right: 10px;
    margin-left: auto;
}

/**/
/* \SINGLE */
/**/
/**/
/* WOOCOMMERCE MESSAGE */
/**/
.woocommerce-message,
.woocommerce-info,
.woocommerce-error,
.myaccount_user,
.woocommerce-thankyou-order-received,
.woocommerce-thankyou-order-failed {
    padding: 7px 60px 7px 40px;
}

.woocommerce-message a.button,
.woocommerce-info a.button,
.woocommerce-error a.button,
.myaccount_user a.button,
.woocommerce-thankyou-order-received a.button,
.woocommerce-thankyou-order-failed a.button {
    padding-right: 0;
    padding-left: 0;
    left: 0;
    right: auto;
}

.woocommerce-message:before,
.woocommerce-info:before,
.woocommerce-error:before,
.myaccount_user:before,
.woocommerce-thankyou-order-received:before,
.woocommerce-thankyou-order-failed:before {
    right: 8px;
    left: auto;
}

.woocommerce-message:after,
.woocommerce-info:after,
.woocommerce-error:after,
.myaccount_user:after,
.woocommerce-thankyou-order-received:after,
.woocommerce-thankyou-order-failed:after {
    right: 8px;
    margin-right: 22px;
    left: auto;
    margin-left: auto;
    -webkit-transform: translate(50%,-50%);
    -ms-transform: translate(50%,-50%);
    transform: translate(50%,-50%);
}

/**/
/* \WOOCOMMERCE MESSAGE */
/**/
/**/
/* CART */
/**/

.shop_table.cart .product-name {
    padding-right: 0;
    padding-left: 0;
}

.shop_table.cart .product-remove a {
    margin-right: auto;
    margin-left: auto;
}

.woocommerce .actions .coupon {
    float: right;
}

.woocommerce [name="update_cart"] {
    float: left;
}

.woocommerce .coupon > * {
    float: right;
}

.woocommerce .coupon #coupon_code + .button {
    margin-right: 10px;
    margin-left: auto;
}

.woocommerce .cart_totals .shop_table th:not(:first-child),
.woocommerce .cart_totals .shop_table td:not(:first-child) {
    text-align: left;
}

.woocommerce .cart_totals .shop_table .select2-container {
    text-align: right;
}

.woocommerce .checkout-button {
    float: left;
}

.woocommerce .cart-collaterals {
    float: left;
}

.woocommerce .cart_totals th {
    padding-right: 0px;
    text-align: right;
    padding-left: 0;
}

/**/
/* \CART */
/**/
/**/
/* CHECKOUT */
/**/

.woocommerce-billing-fields h3:before,
.woocommerce-shipping-fields h3:before,
h3#order_review_heading:before {
    right: 3px;
    left: auto;
}

.woocommerce #payment ul li {
    padding-right: 0;
    padding-left: 0;
}

.checkout_coupon input[name="apply_coupon"] {
    margin-right: 10px;
    margin-left: auto;
}

table.woocommerce-checkout-review-order-table thead tr th {
    padding-right: 0;
    padding-left: 0;
}

table.woocommerce-checkout-review-order-table tbody tr td,
table.woocommerce-checkout-review-order-table tbody tr th {
    padding-right: 0;
    padding-left: 0;
}

table.woocommerce-checkout-review-order-table tfoot tr th,
table.woocommerce-checkout-review-order-table tfoot tr td {
    padding-right: 0;
    padding-left: 0;
}

/**/
/* \CHECKOUT */
/**/
/**/
/* SHORTCODES USED BY */
/**/

.woocommerce.add_to_cart_inline > del + ins {
    margin-right: 5px;
    margin-left: auto;
}

/**/
/* SHORTCODES USED BY */
/**/
/**/
/* WIDGETS */
/**/
.product_list_widget li {
    padding-right: 0;
    padding-left: 0;
}

.product_list_widget li > a,
.product_list_widget li > .wp-post-image,
.product_list_widget li > .star-rating {
    margin-right: auto;
    margin-left: auto;
}

.product_list_widget li .wp-post-image {
    float: right;
    margin-left: 15px;
    margin-right: auto;
}

.mini_cart_item .remove {
    right: 0;
    border-bottom-left-radius: 4px;
    left: auto;
}

.mini_cart_item .remove:before,
.mini_cart_item .remove:after {
    right: 50%;
    margin-right: -7px;
    left: auto;
    margin-left: auto;
}

.product_list_widget .mini_cart_item .remove {
    right: initial;
    left: 0;
}

.widget_shopping_cart_content .total,
#top_panel_woo_minicart .total,
.widget_shopping_cart_content .buttons,
#top_panel_woo_minicart .buttons {
    text-align: right;
}

/**/
/* widget filter-price */
/**/

.price_slider .ui-slider-handle:before,
.price_slider .ui-slider-handle:after {
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
}

/* @media screen and (max-width: 980px) */

@media screen and (max-width: 479px) {

}

/**/
/* widget search */
/**/

.widget .woocommerce-product-search input {
    padding-left: 50px;
    padding-right: 0;
}

.widget .woocommerce-product-search input[type="submit"],
.widget .woocommerce-product-search .screen-reader-text {
    left: 0;
    right: auto;
}

.widget .woocommerce-product-search .screen-reader-text:before {
    right: 50%;
    left: auto;
}

/* fix for cart widget totals */
/**/
/* \WIDGETS */
/**/
/* TOP PANEL MINICART
/**/
#top_panel_bar #top_panel_woo_minicart {
    margin-left: auto;
    margin-right: auto;
}

#top_panel_woo_minicart:before {
    left: 0;
    right: auto;
}

.woo_mini_count {
    left: -10px;
    right: auto;
}

.cws_woo_minicart_wrapper .buttons a:first-child {
    margin-left: 10px;
    margin-right: auto;
}

/**/
/* \TOP PANEL MINICART
*/
/**/
/* THANK YOU
*/

/**/
/* \THANK YOU
*/



/* Made by the RTL-er.com - http://www.rtl-er.com */